<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
      <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
          <section name="FSTRaK.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
      </sectionGroup>
  </configSections>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>

  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SQLite" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite" />
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
    </DbProviderFactories>
  </system.data>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Serilog.Sinks.File" publicKeyToken="24c2f752a8e58a10" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SQLite.EF6" publicKeyToken="db937bc2d44ff139" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.118.0" newVersion="1.0.118.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <FSTRaK.Properties.Settings>
      <setting name="MapTileProvider" serializeAs="String">
        <value>OpenStreetMap</value>
      </setting>
      <setting name="BingApiKey" serializeAs="String">
        <value />
      </setting>
      <setting name="IsAlwaysOnTop" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IsSaveOnlyCompleteFlights" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Units" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Top" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="Left" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="Width" serializeAs="String">
        <value>1024</value>
      </setting>
      <setting name="Height" serializeAs="String">
        <value>768</value>
      </setting>
      <setting name="IsStartMinimized" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IsMinimizeToTray" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IsStartAutomatically" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FontName" serializeAs="String">
        <value>Slopes</value>
      </setting>
      <setting name="VatsimId" serializeAs="String">
        <value />
      </setting>
      <setting name="MapTilerApiKey" serializeAs="String">
        <value />
      </setting>
      <setting name="Theme" serializeAs="String">
        <value>Normal</value>
      </setting>
      <setting name="UpgradeRequired" serializeAs="String">
        <value>True</value>
      </setting>
    </FSTRaK.Properties.Settings>
  </userSettings>
  <connectionStrings>
    <add name="FSTrAkSqliteDatabase" providerName="System.Data.SQLite.EF6" connectionString="Data Source=|DataDirectory|FSTrAk.db;Version=3;New=True;Compress=True;" />
  </connectionStrings>
</configuration>
