<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
      <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
          <section name="FSTRaK.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
      </sectionGroup>
  </configSections>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>

  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlCeConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="System.Data.SqlServerCe.4.0"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlServerCe.4.0" type="System.Data.Entity.SqlServerCompact.SqlCeProviderServices, EntityFramework.SqlServerCompact"/>
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SqlServerCe.4.0"/>
      <add name="Microsoft SQL Server Compact Data Provider 4.0" invariant="System.Data.SqlServerCe.4.0" description=".NET Framework Data Provider for Microsoft SQL Server Compact" type="System.Data.SqlServerCe.SqlCeProviderFactory, System.Data.SqlServerCe, Version=4.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"/>
    </DbProviderFactories>
  </system.data>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Serilog.Sinks.File" publicKeyToken="24c2f752a8e58a10" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SqlServerCe" publicKeyToken="89845dcd8080cc91" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <FSTRaK.Properties.Settings>
      <setting name="MapTileProvider" serializeAs="String">
        <value>OpenStreetMap</value>
      </setting>
      <setting name="BingApiKey" serializeAs="String">
        <value />
      </setting>
      <setting name="IsAlwaysOnTop" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IsSaveOnlyCompleteFlights" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Units" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Top" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="Left" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="Width" serializeAs="String">
        <value>1024</value>
      </setting>
      <setting name="Height" serializeAs="String">
        <value>768</value>
      </setting>
      <setting name="IsStartMinimized" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IsMinimizeToTray" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IsRunAutomatically" serializeAs="String">
        <value>True</value>
      </setting>
    </FSTRaK.Properties.Settings>
  </userSettings>
  <connectionStrings>
    <add name="FSTrAkDatabase" providerName="System.Data.SQLite" connectionString="Data Source=|DataDirectory|FSTrAk.db;Version=3;New=True;Compress=True;"/>
    <add name="FSTrAkCompactDatabase" providerName="System.Data.SqlServerCe.4.0" connectionString="Data Source=|DataDirectory|db.sdf;"/>
  </connectionStrings>
</configuration>
